<% layout('layout') -%>

    <div class="jumbotron" id="navbar-gap">
      <div class="container">
        <h2><small>Lose the hassle, Not your mind!</small>Shop with SANE</h2>

<p>Unique and practical sales from your friends and neighbors</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h4>Begin your search here..</h4>
          <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="col-md-4">
          <h4>Search for Smart buys..</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo </p>

       </div>
        <div class="col-md-4">
          <h4>Build a smart cart..</h4>
          <p>Donec sed odio dui semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>
