<% layout('boilerplate') -%>


<h2><small>Lose the hassle, Not your mind!</small>Shop with SANE</h2>

<p>Unique and practical sales from your friends and neighbors</p>

<p>Signup and stop missing out on deals!</p>
<h4>Begin your search here..</h4>


<p>Deals and prices that won't make you crazy!</p>


<h4>Search for Smart buys..</h4>
<p>These will appear across the site as you add to your cart</p>


<h4>Build a smart cart..</h4>
<p>Big savings by buying smart!</p>